:root {
  /** Colors **/
	--blue-primary: #127df0;
	--blue-secondary: #6bb0fa;

  --gray-primary: #f5f5f5;
  --gray-secondary: #e0e0e0;

  --dark-gray-primary: #130544;
  --dark-gray-secondary: #0f033a;


  /** Widths **/
  --settings-width: 40px;
  --settings-width-expanded: 300px;
}

* {
	line-height: 100%;
	margin: 0;
	padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
	line-height: 140%;
}

h1,
h2,
h3,
h4 {
	line-height: 160%;
}
