:root {
  /** Colors **/
  --primary-color: rgb(249, 245, 231);
  --primary-color-dark: rgb(225, 219, 197);

  --secondary-color: #bbd5f0;
  --secondary-color-dark: rgb(179, 201, 225);

  --tertiary-color: #71ade9;
  --tertiary-color-dark: rgb(83, 132, 181);

  --quadrary-color: #2f2f2f;
  --quadrary-color-dark: #1a1a1a;

  --brightgreen: #34e746;
  --brightgreen-dark: #1dba2c;

  --text-color-light: #f9f5e7;
  --text-color-dark: #2b2b2b;

  /** Widths **/
  --side-panel-width: 40px;
  --side-panel-width-expanded: 300px;
}

* {
	line-height: 100%;
	margin: 0;
	padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
	line-height: 140%;
  color: var(--text-color-dark);
}

h1,
h2,
h3,
h4 {
	line-height: 160%;
  color: var(--text-color-dark);
}
