
/** Icon Button component styles **/
.IconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: none;
    outline: none;
    border: none;
    padding: 4px;
}
.IconButton:hover {
    background-color: var(--primary-color-dark);
}
.IconButton.border {
    border: 1px solid var(--primary-color-dark);
    border-radius: 5px;
}