/** Input **/
.Input {
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	outline: none;
	transition: border-color 0.3s ease-in-out;
}

/** Input Label **/
.Input > p {
  font-size: 14px;
  margin-bottom: 0.2rem;
  color: var(--gray-secondary);
}

/** Input input **/
.Input > input {
	width: 100%;
  padding: 6px 4px;
  border: 1px solid var(--gray-secondary);
	background-color: var(--gray-primary);
	border-radius: 5px;
	outline: none;
	font-size: 16px;
}
.Input.light > input {
	color: var(--dark-purple-primary);
  border-color: var(--gray-secondary);
	background-color: var(--gray-primary);
}
