
/** Settings Panel **/
.SettingsPanel {
  --panel-padding: 30px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: var(--side-panel-width); 
  overflow-y: auto;
  padding: var(--panel-padding);
  height: calc(100vh - calc(var(--panel-padding) * 2));
  transition: width 0.3s ease-in-out;
  background-color: var(--tertiary-color);
  border-left: 2px solid var(--quadrary-color);
  box-shadow: 0 0 8px var(--quadrary-color);
}

/** Settings Menu Content **/
.SettingsPanel > .menuContent {
  display: flex;
  margin-top: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  opacity: 0;
  gap: 3rem;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  overflow: visible;
  white-space: nowrap;
}
.SettingsPanel.isOpen > .menuContent {
  opacity: 1;
}

/** Settings Content Header **/
.SettingsPanel > .menuContent > h4 {
  font-weight: normal;
}