
/** Button component Styles */
.Button {
  background-color: var(--dark-purple-primary);
  border: 1px solid var(--dark-purple-primary);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.Button:hover {
  background-color: var(--dark-purple-secondary);
  border: 1px solid var(--dark-purple-secondary);
}

/** Button light component Styles **/
.Button.light {
  background-color: var(--gold-primary);
  border: 1px solid var(--gold-primary);
  color: black;
}
.Button.light:hover {
  background-color: var(--gold-secondary);
  border: 1px solid var(--gold-secondary);
}