
:root {
  --button-border-width: 2px;
}
/** Button component Styles */
.Button {
  background-color: var(--quadrary-color-dark);
  border: var(--button-border-width) solid var(--quadrary-color);
  padding: calc(10px - var(--button-border-width)) 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.Button:hover {
  background-color: var(--quadrary-color);
  box-shadow: 0 0 5px var(--quadrary-color);
}
.Button,
.Button > p {
  color: var(--text-color-light);
  font-size: 16px;
}