
/** MainLayout **/
.MainLayout {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}
.MainLayout.isSidePanelOpen {
    --side-panel-width: var(--side-panel-width-expanded);
}

/** MainLayout Content **/
.MainLayout > main {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--side-panel-width));
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
}
