
/** Data Source Item **/
.DataSourceItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: calc(100% - 1rem);
  border-top: 1px solid var(--primary-color-dark);
}
.DataSourceItem:first-child {
  border-top: none;
}

/** Data Source Item Content **/
.DataSourceItem {  
  position: relative;
  display: flex; 
  flex: 1 4 1;
  align-items: center;
  gap: 10px;
}

/** Toggle Select Checkbox **/
.DataSourceItem > .checkbox {
  width: 20px;
  height: 20px;
  border: 4px solid var(--brightgreen-dark);
  cursor: pointer;
}
.DataSourceItem > .checkbox:hover {
  background-color: var(--brightgreen);
  border: 4px solid var(--brightgreen);
}
.DataSourceItem > .checkbox.selected {
  background-color: var(--brightgreen-dark);
}
.DataSourceItem > .checkbox.selected:hover {
  background-color: var(--brightgreen-dark);
  border: 4px solid var(--brightgreen-dark);
}

/** Data Source Item Content Wrapper **/
.DataSourceItem > .info {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

/** Data Source Text Content **/
.DataSourceItem > .info > .title {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
}

/** Data Source Item Icon **/
.DataSourceItem > .info > .title > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

/** Data Source Name **/
.DataSourceItem > .info > .title > .name {
  font-size: 1rem;
}

/** Data Source URL **/
.DataSourceItem > .info > .url {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}