
/** Data Source Item **/
.DataSourceItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: calc(100% - 1rem);
  border-top: 1px solid var(--primary-color-dark);
}
.DataSourceItem:first-child {
  border-top: none;
}

/** Data Source Item Content **/
.DataSourceItem > .allContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 86%;
}

/** Data Source Item Icon **/
.DataSourceItem > .allContent > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

/** Data Source Text Content **/
.DataSourceItem > .allContent > .textContent {
  position: relative;
  overflow: hidden;
}

/** Data Source Name **/
.DataSourceItem > .allContent > .textContent > .name {
  font-size: 1rem;
  margin-bottom: 4px;
}

/** Data Source URL **/
.DataSourceItem > .allContent > .textContent > .url {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  width: 100%;
  overflow-x: auto;
}